.root {
  position: relative;
  background-color: #f5f5f5;
  min-height: 3em;
}

canvas {
  width: 100%;
  image-rendering: pixelated;
}

#control-panel {
  position: absolute;
  bottom: 0; right: 0;
  margin: 1em;
  padding: .5em;
  display: flex;
  opacity: .4;
  background-color: #ffffff;
  font-size: .8rem;
}

#control-panel:hover {
  opacity: 1;
}

#control-panel[data-filter=bw] label.filter.bw { display: block; }
#control-panel[data-filter=gs] label.filter.gs { display: block; }

label.filter { display: none; }

label {
  position: relative;
  display: block;
}

#control-panel label {
  width: 10em;
}

label > span {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%) scale(1, 2);
  text-transform: uppercase;
  pointer-events: none;
  font-size: .5em;
}

label.file > span {
  border: 1px solid #aaa;
  background-color: #eee;
  pointer-events: all;
}

#filepicker {
  display: none;
}

label.file {
  order: 2;
}

#filter {
  order: 1;
}

select {
  font: inherit;
}

input {
  font: inherit;
  width: 100%;
  box-sizing: border-box;
}